<html op="news">

<head>
  <!-- 
    浏览器拿到该页面的字符串数据之后，开始从上到下依次解析
    在解析的过程中，如果发现了 link、script、img 等具有 src或者 href（只针对 link 标签） 属性的标签，浏览器主动对 src 或者 href 发起请求
   -->
  <meta name="referrer" content="origin">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
  <link rel="shortcut icon" href="static/img/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="rss">
  <title>Hacker News</title>
</head>

<body>
  <center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      <tr>
        <td bgcolor="#ff6600">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
            <tr>
              <td style="width:18px;padding-right:4px">
                <a href="http://www.ycombinator.com"><img src="static/img/logo.gif" width="18" height="18" style="border:1px white solid;"></a>
              </td>
              <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a href="news">Hacker News</a></b>
              <a href="newest">new</a> | <a href="newcomments">comments</a> | <a href="show">show</a> | <a href="ask">ask</a> | <a href="jobs">jobs</a> | <a href="submit">submit</a>            </span></td>
              <td style="text-align:right;padding-right:4px;"><span class="pagetop">
                              <a href="login?goto=news">login</a>
                          </span></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr style="height:10px"></tr>
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
            {{each news}}
              <tr class='athing' id='13135607'>
              <td align="right" valign="top" class="title"><span class="rank">{{$index + 1}}.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13135607' href='vote?id=13135607&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="/item?id={{$value.id}}" class="storylink">{{$value.title}}</a><span class="sitebit comhead"> (<a href="from?site=washington.edu"><span class="sitestr">washington.edu</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13135607">200 points</span> by <a href="user?id=jonbaer" class="hnuser">jonbaer</a> <span class="age"><a href="item?id=13135607">{{$value.time}}</a></span> <span id="unv_13135607"></span> | <a href="hide?id=13135607&amp;goto=news">hide</a> | <a href="item?id=13135607">33&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            {{/each}}
            
            <tr class='athing' id='13136060'>
              <td align="right" valign="top" class="title"><span class="rank">2.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13136060' href='vote?id=13136060&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://corgibytes.com/blog/2016/12/06/getting-old-er-in-tech/" class="storylink">On Getting Older in Tech</a><span class="sitebit comhead"> (<a href="from?site=corgibytes.com"><span class="sitestr">corgibytes.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13136060">106 points</span> by <a href="user?id=mindfulgeek" class="hnuser">mindfulgeek</a> <span class="age"><a href="item?id=13136060">5 hours ago</a></span> <span id="unv_13136060"></span> | <a href="hide?id=13136060&amp;goto=news">hide</a> | <a href="item?id=13136060">70&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13136751'>
              <td align="right" valign="top" class="title"><span class="rank">3.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13136751' href='vote?id=13136751&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://weblog.rubyonrails.org/2016/12/3/this-week-in-rails-jquery-no-longer-part-of-rails-and-more/" class="storylink">This Week in Rails: jQuery no longer part of Rails, and more</a><span class="sitebit comhead"> (<a href="from?site=rubyonrails.org"><span class="sitestr">rubyonrails.org</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13136751">86 points</span> by <a href="user?id=inopinatus" class="hnuser">inopinatus</a> <span class="age"><a href="item?id=13136751">2 hours ago</a></span> <span id="unv_13136751"></span> | <a href="hide?id=13136751&amp;goto=news">hide</a> | <a href="item?id=13136751">40&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13131794'>
              <td align="right" valign="top" class="title"><span class="rank">4.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13131794' href='vote?id=13131794&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://www.bloomberg.com/news/features/2016-12-08/google-makes-so-much-money-it-never-had-to-worry-about-financial-discipline" class="storylink">Google Makes So Much Money, It Never Had to Worry About Financial Discipline</a><span class="sitebit comhead"> (<a href="from?site=bloomberg.com"><span class="sitestr">bloomberg.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13131794">505 points</span> by <a href="user?id=kjhughes" class="hnuser">kjhughes</a> <span class="age"><a href="item?id=13131794">14 hours ago</a></span> <span id="unv_13131794"></span> | <a href="hide?id=13131794&amp;goto=news">hide</a> | <a href="item?id=13131794">343&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13132688'>
              <td align="right" valign="top" class="title"><span class="rank">5.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13132688' href='vote?id=13132688&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://rachelbythebay.com/w/2016/10/07/magic/" class="storylink">1213486160 has a friend: 1195725856</a><span class="sitebit comhead"> (<a href="from?site=rachelbythebay.com"><span class="sitestr">rachelbythebay.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13132688">437 points</span> by <a href="user?id=TimWolla" class="hnuser">TimWolla</a> <span class="age"><a href="item?id=13132688">12 hours ago</a></span> <span id="unv_13132688"></span> | <a href="hide?id=13132688&amp;goto=news">hide</a> | <a href="item?id=13132688">84&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13136426'>
              <td align="right" valign="top" class="title"><span class="rank">6.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13136426' href='vote?id=13136426&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://lists.freedesktop.org/archives/dri-devel/2016-December/126516.html" class="storylink">Linux kernel maintainer says no to AMDGPU patch</a><span class="sitebit comhead"> (<a href="from?site=freedesktop.org"><span class="sitestr">freedesktop.org</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13136426">229 points</span> by <a href="user?id=pero" class="hnuser">pero</a> <span class="age"><a href="item?id=13136426">3 hours ago</a></span> <span id="unv_13136426"></span> | <a href="hide?id=13136426&amp;goto=news">hide</a> | <a href="item?id=13136426">63&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13134702'>
              <td align="right" valign="top" class="title"><span class="rank">7.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13134702' href='vote?id=13134702&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://ooni.torproject.org/post/belarus-fries-onion/" class="storylink">Belarus finally bans Tor</a><span class="sitebit comhead"> (<a href="from?site=torproject.org"><span class="sitestr">torproject.org</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13134702">204 points</span> by <a href="user?id=BuuQu9hu" class="hnuser">BuuQu9hu</a> <span class="age"><a href="item?id=13134702">9 hours ago</a></span> <span id="unv_13134702"></span> | <a href="hide?id=13134702&amp;goto=news">hide</a> | <a href="item?id=13134702">67&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13132944'>
              <td align="right" valign="top" class="title"><span class="rank">8.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13132944' href='vote?id=13132944&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://handbook.clerky.com/" class="storylink">Show HN: U.S. Legal Concepts for Founders – Online Handbook</a><span class="sitebit comhead"> (<a href="from?site=clerky.com"><span class="sitestr">clerky.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13132944">231 points</span> by <a href="user?id=swampthing" class="hnuser">swampthing</a> <span class="age"><a href="item?id=13132944">12 hours ago</a></span> <span id="unv_13132944"></span> | <a href="hide?id=13132944&amp;goto=news">hide</a> | <a href="item?id=13132944">44&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13137170'>
              <td align="right" valign="top" class="title"><span class="rank">9.</span></td>
              <td></td>
              <td class="title"><a href="http://www.smarking.org/" class="storylink" rel="nofollow">Smarking (YC W15) Is Hiring Sr.PM and Many Others in SF</a><span class="sitebit comhead"> (<a href="from?site=smarking.org"><span class="sitestr">smarking.org</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="age"><a href="item?id=13137170">22 minutes ago</a></span> | <a href="hide?id=13137170&amp;goto=news">hide</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13132538'>
              <td align="right" valign="top" class="title"><span class="rank">10.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13132538' href='vote?id=13132538&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://www.theverge.com/2016/12/8/13881930/microsoft-turn-a-phone-into-a-pc-arm-continuum" class="storylink">Microsoft is bringing Windows 10, with desktop app support, to ARM chipsets</a><span class="sitebit comhead"> (<a href="from?site=theverge.com"><span class="sitestr">theverge.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13132538">264 points</span> by <a href="user?id=Tomte" class="hnuser">Tomte</a> <span class="age"><a href="item?id=13132538">13 hours ago</a></span> <span id="unv_13132538"></span> | <a href="hide?id=13132538&amp;goto=news">hide</a> | <a href="item?id=13132538">160&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13129029'>
              <td align="right" valign="top" class="title"><span class="rank">11.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13129029' href='vote?id=13129029&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://www.welivesecurity.com/2016/12/06/readers-popular-websites-targeted-stealthy-stegano-exploit-kit-hiding-pixels-malicious-ads/" class="storylink">An exploit kit hiding in the pixels of malicious ads</a><span class="sitebit comhead"> (<a href="from?site=welivesecurity.com"><span class="sitestr">welivesecurity.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13129029">15 points</span> by <a href="user?id=ivank" class="hnuser">ivank</a> <span class="age"><a href="item?id=13129029">2 hours ago</a></span> <span id="unv_13129029"></span> | <a href="hide?id=13129029&amp;goto=news">hide</a> | <a href="item?id=13129029">2&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13133954'>
              <td align="right" valign="top" class="title"><span class="rank">12.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13133954' href='vote?id=13133954&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://www.dispatch.com/content/stories/local/2016/12/john-glenn/john-glenn.html" class="storylink">John Glenn has died</a><span class="sitebit comhead"> (<a href="from?site=dispatch.com"><span class="sitestr">dispatch.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13133954">724 points</span> by <a href="user?id=oaf357" class="hnuser">oaf357</a> <span class="age"><a href="item?id=13133954">10 hours ago</a></span> <span id="unv_13133954"></span> | <a href="hide?id=13133954&amp;goto=news">hide</a> | <a href="item?id=13133954">141&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13136239'>
              <td align="right" valign="top" class="title"><span class="rank">13.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13136239' href='vote?id=13136239&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://github.com/threatgrid/naga" class="storylink">Naga: Datalog-based rules engine in Clojure</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13136239">32 points</span> by <a href="user?id=espeed" class="hnuser">espeed</a> <span class="age"><a href="item?id=13136239">4 hours ago</a></span> <span id="unv_13136239"></span> | <a href="hide?id=13136239&amp;goto=news">hide</a> | <a href="item?id=13136239">3&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13133396'>
              <td align="right" valign="top" class="title"><span class="rank">14.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13133396' href='vote?id=13133396&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://www.askthepilot.com/silent-anniversary/" class="storylink">The Silent Anniversary: Fifteen Years Since Our Last Major Crash</a><span class="sitebit comhead"> (<a href="from?site=askthepilot.com"><span class="sitestr">askthepilot.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13133396">228 points</span> by <a href="user?id=maxcan" class="hnuser">maxcan</a> <span class="age"><a href="item?id=13133396">11 hours ago</a></span> <span id="unv_13133396"></span> | <a href="hide?id=13133396&amp;goto=news">hide</a> | <a href="item?id=13133396">136&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13132721'>
              <td align="right" valign="top" class="title"><span class="rank">15.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13132721' href='vote?id=13132721&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://aws.amazon.com/about-aws/whats-new/2016/12/announcing-the-aws-canada-central-region/" class="storylink">AWS announces new region in Canada</a><span class="sitebit comhead"> (<a href="from?site=amazon.com"><span class="sitestr">amazon.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13132721">197 points</span> by <a href="user?id=forrestbrazeal" class="hnuser">forrestbrazeal</a> <span class="age"><a href="item?id=13132721">12 hours ago</a></span> <span id="unv_13132721"></span> | <a href="hide?id=13132721&amp;goto=news">hide</a> | <a href="item?id=13132721">94&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13136252'>
              <td align="right" valign="top" class="title"><span class="rank">16.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13136252' href='vote?id=13136252&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://walkkumano.com" class="storylink">Walk Japan's Kumano Kodo – The photographic diary of an eight day walk</a><span class="sitebit comhead"> (<a href="from?site=walkkumano.com"><span class="sitestr">walkkumano.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13136252">45 points</span> by <a href="user?id=cmod" class="hnuser">cmod</a> <span class="age"><a href="item?id=13136252">4 hours ago</a></span> <span id="unv_13136252"></span> | <a href="hide?id=13136252&amp;goto=news">hide</a> | <a href="item?id=13136252">5&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13134286'>
              <td align="right" valign="top" class="title"><span class="rank">17.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13134286' href='vote?id=13134286&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://robservatory.com/the-finders-gui-tax-can-be-very-expensive/" class="storylink">The Finder’s GUI tax can be very expensive</a><span class="sitebit comhead"> (<a href="from?site=robservatory.com"><span class="sitestr">robservatory.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13134286">137 points</span> by <a href="user?id=hyperpape" class="hnuser">hyperpape</a> <span class="age"><a href="item?id=13134286">10 hours ago</a></span> <span id="unv_13134286"></span> | <a href="hide?id=13134286&amp;goto=news">hide</a> | <a href="item?id=13134286">77&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13132032'>
              <td align="right" valign="top" class="title"><span class="rank">18.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13132032' href='vote?id=13132032&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://developers.googleblog.com/2016/12/start-building-actions-on-google.html" class="storylink">Start building Actions on Google</a><span class="sitebit comhead"> (<a href="from?site=googleblog.com"><span class="sitestr">googleblog.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13132032">182 points</span> by <a href="user?id=bajames" class="hnuser">bajames</a> <span class="age"><a href="item?id=13132032">13 hours ago</a></span> <span id="unv_13132032"></span> | <a href="hide?id=13132032&amp;goto=news">hide</a> | <a href="item?id=13132032">55&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13136027'>
              <td align="right" valign="top" class="title"><span class="rank">19.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13136027' href='vote?id=13136027&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://blog.google/topics/google-europe/nature-water-unveiling-most-detailed-view-water-earth/" class="storylink">The nature of water: unveiling the most detailed view of water on Earth</a><span class="sitebit comhead"> (<a href="from?site=blog.google"><span class="sitestr">blog.google</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13136027">34 points</span> by <a href="user?id=DiabloD3" class="hnuser">DiabloD3</a> <span class="age"><a href="item?id=13136027">5 hours ago</a></span> <span id="unv_13136027"></span> | <a href="hide?id=13136027&amp;goto=news">hide</a> | <a href="item?id=13136027">6&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13134363'>
              <td align="right" valign="top" class="title"><span class="rank">20.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13134363' href='vote?id=13134363&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://github.com/input-output-hk/pos-haskell-prototype" class="storylink">A Provably Secure Proof-Of-Stake Blockchain Protocol</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13134363">71 points</span> by <a href="user?id=xiamx" class="hnuser">xiamx</a> <span class="age"><a href="item?id=13134363">10 hours ago</a></span> <span id="unv_13134363"></span> | <a href="hide?id=13134363&amp;goto=news">hide</a> | <a href="item?id=13134363">22&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13134104'>
              <td align="right" valign="top" class="title"><span class="rank">21.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13134104' href='vote?id=13134104&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://asimjalis.github.io/blog/2016/12/07/clojure-for-scripting.html" class="storylink">How to Use Clojure for Scripting</a><span class="sitebit comhead"> (<a href="from?site=asimjalis.github.io"><span class="sitestr">asimjalis.github.io</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13134104">77 points</span> by <a href="user?id=asimjalis" class="hnuser">asimjalis</a> <span class="age"><a href="item?id=13134104">10 hours ago</a></span> <span id="unv_13134104"></span> | <a href="hide?id=13134104&amp;goto=news">hide</a> | <a href="item?id=13134104">12&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13135735'>
              <td align="right" valign="top" class="title"><span class="rank">22.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13135735' href='vote?id=13135735&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://www.theverge.com/2016/12/8/13894000/magic-leap-ar-microsoft-hololens-way-behind?utm_campaign=theverge&amp;utm_content=entry&amp;utm_medium=social&amp;utm_source=twitter" class="storylink">Magic Leap's technology may be years away from completion</a><span class="sitebit comhead"> (<a href="from?site=theverge.com"><span class="sitestr">theverge.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13135735">165 points</span> by <a href="user?id=evilnig" class="hnuser">evilnig</a> <span class="age"><a href="item?id=13135735">5 hours ago</a></span> <span id="unv_13135735"></span> | <a href="hide?id=13135735&amp;goto=news">hide</a> | <a href="item?id=13135735">109&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13132012'>
              <td align="right" valign="top" class="title"><span class="rank">23.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13132012' href='vote?id=13132012&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://www.npr.org/sections/ed/2016/12/07/502601724/what-former-employees-say-itt-tech-did-to-scam-its-students" class="storylink">What Former Employees Say ITT Tech Did to Scam Its Students</a><span class="sitebit comhead"> (<a href="from?site=npr.org"><span class="sitestr">npr.org</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13132012">100 points</span> by <a href="user?id=happy-go-lucky" class="hnuser">happy-go-lucky</a> <span class="age"><a href="item?id=13132012">13 hours ago</a></span> <span id="unv_13132012"></span> | <a href="hide?id=13132012&amp;goto=news">hide</a> | <a href="item?id=13132012">62&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13133141'>
              <td align="right" valign="top" class="title"><span class="rank">24.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13133141' href='vote?id=13133141&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://www.wsj.com/articles/the-american-dream-is-fading-and-may-be-very-hard-to-revive-1481218911" class="storylink">Barely Half of 30-Year-Olds in the U.S. Earn More Than Their Parents Did at 30</a><span class="sitebit comhead"> (<a href="from?site=wsj.com"><span class="sitestr">wsj.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13133141">201 points</span> by <a href="user?id=Vannatter" class="hnuser">Vannatter</a> <span class="age"><a href="item?id=13133141">12 hours ago</a></span> <span id="unv_13133141"></span> | <a href="hide?id=13133141&amp;goto=news">hide</a> | <a href="item?id=13133141">294&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13131508'>
              <td align="right" valign="top" class="title"><span class="rank">25.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13131508' href='vote?id=13131508&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://howlroundmusic.org/wp/?p=23" class="storylink">Fogging your Google search history with Python and Reddit</a><span class="sitebit comhead"> (<a href="from?site=howlroundmusic.org"><span class="sitestr">howlroundmusic.org</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13131508">95 points</span> by <a href="user?id=marcosvpj" class="hnuser">marcosvpj</a> <span class="age"><a href="item?id=13131508">14 hours ago</a></span> <span id="unv_13131508"></span> | <a href="hide?id=13131508&amp;goto=news">hide</a> | <a href="item?id=13131508">43&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13133135'>
              <td align="right" valign="top" class="title"><span class="rank">26.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13133135' href='vote?id=13133135&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://kangax.github.io/compat-table/es2016plus/#safaritp" class="storylink">Safari Technology Preview supports 100% of the ES2015/16/17 features</a><span class="sitebit comhead"> (<a href="from?site=kangax.github.io"><span class="sitestr">kangax.github.io</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13133135">185 points</span> by <a href="user?id=nacs" class="hnuser">nacs</a> <span class="age"><a href="item?id=13133135">12 hours ago</a></span> <span id="unv_13133135"></span> | <a href="hide?id=13133135&amp;goto=news">hide</a> | <a href="item?id=13133135">111&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13130039'>
              <td align="right" valign="top" class="title"><span class="rank">27.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13130039' href='vote?id=13130039&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://istacee.wordpress.com/2013/09/18/kent-beck-i-get-paid-for-code-that-works-not-for-tests/" class="storylink">Kent Beck: “I get paid for code that works, not for tests” (2013)</a><span class="sitebit comhead"> (<a href="from?site=istacee.wordpress.com"><span class="sitestr">istacee.wordpress.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13130039">492 points</span> by <a href="user?id=fagnerbrack" class="hnuser">fagnerbrack</a> <span class="age"><a href="item?id=13130039">18 hours ago</a></span> <span id="unv_13130039"></span> | <a href="hide?id=13130039&amp;goto=news">hide</a> | <a href="item?id=13130039">331&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13130972'>
              <td align="right" valign="top" class="title"><span class="rank">28.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13130972' href='vote?id=13130972&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://www.eff.org/deeplinks/2016/12/supreme-court-curbs-excessive-design-patent-damages" class="storylink">U.S. Supreme Court Curbs Excessive Design Patent Damages</a><span class="sitebit comhead"> (<a href="from?site=eff.org"><span class="sitestr">eff.org</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13130972">262 points</span> by <a href="user?id=merrier" class="hnuser">merrier</a> <span class="age"><a href="item?id=13130972">15 hours ago</a></span> <span id="unv_13130972"></span> | <a href="hide?id=13130972&amp;goto=news">hide</a> | <a href="item?id=13130972">171&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13131149'>
              <td align="right" valign="top" class="title"><span class="rank">29.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13131149' href='vote?id=13131149&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://surpriselib.com/" class="storylink">Surprise – a simple recommender system library for Python</a><span class="sitebit comhead"> (<a href="from?site=surpriselib.com"><span class="sitestr">surpriselib.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13131149">75 points</span> by <a href="user?id=danso" class="hnuser">danso</a> <span class="age"><a href="item?id=13131149">14 hours ago</a></span> <span id="unv_13131149"></span> | <a href="hide?id=13131149&amp;goto=news">hide</a> | <a href="item?id=13131149">8&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13116878'>
              <td align="right" valign="top" class="title"><span class="rank">30.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13116878' href='vote?id=13116878&amp;how=up&amp;goto=news'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://ryantsao.com/blog/virtual-css-with-styletron" class="storylink">Show HN: Styletron – Virtual CSS</a><span class="sitebit comhead"> (<a href="from?site=ryantsao.com"><span class="sitestr">ryantsao.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13116878">101 points</span> by <a href="user?id=rtsao" class="hnuser">rtsao</a> <span class="age"><a href="item?id=13116878">12 hours ago</a></span> <span id="unv_13116878"></span> | <a href="hide?id=13116878&amp;goto=news">hide</a> | <a href="item?id=13116878">32&nbsp;comments</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class="morespace" style="height:10px"></tr>
            <tr>
              <td colspan="2"></td>
              <td class="title"><a href="news?p=2" class="morelink" rel="nofollow">More</a></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table width="100%" cellspacing="0" cellpadding="1">
            <tr>
              <td bgcolor="#ff6600"></td>
            </tr>
          </table>
          <br>
          <center><span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
        | <a href="newsfaq.html">FAQ</a>
        | <a href="mailto:hn@ycombinator.com">Support</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="security.html">Security</a>
        | <a href="lists">Lists</a>
        | <a href="bookmarklet.html">Bookmarklet</a>
        | <a href="dmca.html">DMCA</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a></span>
            <br>
            <br>
            <form method="get" action="//hn.algolia.com/">Search:
              <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false">
            </form>
          </center>
        </td>
      </tr>
    </table>
  </center>
  <script src="static/js/main.js"></script>
</body>

</html>
